<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mewifi.sdp.dao.CatalogInfoDao">
    <resultMap id="BaseResultMap" type="cn.com.mewifi.sdp.bo.Catalog">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="CATALOGNAME" jdbcType="VARCHAR" property="catalogname"/>
        <result column="CATALOGDESC" jdbcType="VARCHAR" property="catalogdesc"/>
        <result column="CODE" jdbcType="VARCHAR" property="code"/>
        <result column="SUPERCODE" jdbcType="VARCHAR" property="supercode"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="CREATETIME" jdbcType="VARCHAR" property="createtime"/>
        <result column="SORTID" jdbcType="VARCHAR" property="sortid"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="LOGO" jdbcType="VARCHAR" property="logo"/>
        <discriminator javaType="java.lang.String" column="TYPE">
            <case value="mem" resultType="cn.com.mewifi.sdp.bo.memberbenefit.MemCatalog"></case>
        </discriminator>
    </resultMap>

    <sql id="Base_query_condition">
        <trim prefix="where" prefixOverrides="AND |OR">
            <if test="id != null">
                and b.ID = #{id,jdbcType=DECIMAL}
            </if>
            <if test="catalogname != null">
                and b.CATALOGNAME = #{catalogname,jdbcType=VARCHAR}
            </if>
            <if test="catalogdesc != null">
                and b.CATALOGDESC = #{catalogdesc,jdbcType=VARCHAR}
            </if>
            <if test="code != null">
                and b.CODE = #{code,jdbcType=VARCHAR}
            </if>
            <if test="supercode != null">
                and b.SUPERCODE = #{supercode,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and b.STATUS = #{status,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and b.TYPE = #{type,jdbcType=VARCHAR}
            </if>
            <if test="startdate != null">
                and b.CREATETIME &gt;= #{createtime,jdbcType=VARCHAR}
            </if>
            <if test="enddate != null">
                and b.CREATETIME &lt;= #{createtime,jdbcType=VARCHAR}
            </if>
            <if test="createtime != null">
                and b.CREATETIME = #{createtime,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    <sql id="Base_Column_List">
        b.ID, b.CATALOGNAME, b.CATALOGDESC, b.CODE, b.SUPERCODE, b.STATUS, b.CREATETIME, b.SORTID,b.TYPE,b.LOGO
    </sql>


    <select id="selectAllCatalogs" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>

        from T_SDP_CATALOG b
        <if test="_parameter==null or _parameter == '' or _parameter=='mem'"></if>

    </select>
    <select id="selectAvailAbleCatalogs" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>

        from T_SDP_CATALOG b
        <if test="_parameter==null or _parameter == '' or _parameter=='mem'">where b.status = 1</if>
    </select>

    <select id="selectCatalogByCatalogCode" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List"/>

        from T_SDP_CATALOG b
        <if test="type==null or type == '' or type=='mem'">where b.CODE = #{code,jdbcType=VARCHAR}</if>
    </select>
    <select id="selectCatalogByCatalogIdAndType" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List"/>

        from T_SDP_CATALOG b
        <if test="type==null or type == '' or type=='mem'">where b.ID = #{id,jdbcType=DECIMAL}</if>
    </select>

    <select id="selectCatalogsByCondition" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List"/>
        from T_SDP_CATALOG b
        <if test="type == null or type == ''  or type=='mem'">
            <include refid="Base_query_condition"/>
        </if>
        <if test="sortid!=null">
            order by ${sortid}
        </if>
    </select>


</mapper>