<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mewifi.sdp.dao.ClientProductInfoDao">
    <resultMap id="BaseResultMap" type="cn.com.mewifi.sdp.bo.ClientProduct">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="BASEPRODUCTCODE" jdbcType="VARCHAR" property="baseproductcode"/>
        <result column="PRODUCTNAME" jdbcType="VARCHAR" property="productname"/>
        <result column="PRICE" jdbcType="DECIMAL" property="price"/>
        <result column="COST" jdbcType="DECIMAL" property="cost"/>
        <result column="CATALOGID" jdbcType="DECIMAL" property="catalogid"/>
        <result column="PRODUCTDESC" jdbcType="VARCHAR" property="productdesc"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="CREATETIME" jdbcType="VARCHAR" property="createtime"/>
        <result column="TRADESIZE" jdbcType="DECIMAL" property="tradesize"/>
        <result column="UNIT" jdbcType="VARCHAR" property="unit"/>
        <result column="CODE" jdbcType="VARCHAR" property="code"/>
        <result column="SORTID" jdbcType="VARCHAR" property="sortid"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="CLIENTNAME" jdbcType="VARCHAR" property="clientname"/>
        <result column="CLIENTCODE" jdbcType="VARCHAR" property="clientcode"/>

        <discriminator javaType="string" column="TYPE">
            <case value="mem" resultType="cn.com.mewifi.sdp.bo.memberbenefit.MemClientProduct"></case>
        </discriminator>
    </resultMap>
    <sql id="Base_Column_List">
        b.ID, b.BASEPRODUCTCODE, b.PRODUCTNAME, b.PRICE, b.COST, b.CATALOGID, b.PRODUCTDESC, b.STATUS, b.CREATETIME,
        b.TRADESIZE, b.UNIT, b.CODE,b.SORTID, b.TYPE,b.CLIENTNAME
    </sql>
    <sql id="Base_query_condition">
        <trim prefix="where" prefixOverrides="AND |OR">
            <if test="id != null">
                and b.ID = #{id,jdbcType=DECIMAL}
            </if>
            <if test="baseproductcode != null">
                and b.BASEPRODUCTCODE = #{baseproductcode,jdbcType=VARCHAR}
            </if>
            <if test="productname != null">
                and b.PRODUCTNAME = #{productname,jdbcType=VARCHAR}
            </if>
            <if test="price != null">
                and b.PRICE = #{price,jdbcType=DECIMAL}
            </if>
            <if test="cost != null">
                and b.COST = #{cost,jdbcType=DECIMAL}
            </if>
            <if test="type != null">
                and b.TYPE = #{type,jdbcType=VARCHAR}
            </if>
            <if test="catalogid != null">
                and b.CATALOGID = #{catalogid,jdbcType=DECIMAL}
            </if>
            <if test="productdesc != null">
                and b.PRODUCTDESC = #{productdesc,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and b.STATUS = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createtime != null">
                and b.CREATETIME = #{createtime,jdbcType=VARCHAR}
            </if>

            <if test="tradesize != null">
                and b.TRADESIZE = #{tradesize,jdbcType=DECIMAL}
            </if>
            <if test="unit != null">
                and b.UNIT = #{unit,jdbcType=VARCHAR}
            </if>

            <if test="clientname != null">
                and b.CLIENTNAME = #{clientname,jdbcType=VARCHAR}
            </if>

            <if test="code != null">
                and b.CODE = #{code,jdbcType=VARCHAR}
            </if>
            <if test="startdate != null">
                and b.CREATETIME &gt;=#{startdate,jdbcType=VARCHAR}
            </if>
            <if test="enddate != null">
                and b.CREATETIME &lt;= #{enddate,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>

    <select id="selectAllClientProducts" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from T_SDP_CLIENTPRODUCT b
        <if test="_parameter==null or _parameter=='' or _parameter=='mem' "></if>
    </select>

    <select id="selectAvailAbleClientProducts" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from T_SDP_CLIENTPRODUCT b
        <if test="_parameter==null or _parameter=='' or _parameter=='mem' ">where b.status =1</if>
    </select>

    <select id="selectClientProductByClientProductCode" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List"/>
        from T_SDP_CLIENTPRODUCT b
        <if test="type==null or type=='' or type=='mem'">where b.CODE = #{code,jdbcType=VARCHAR}</if>
    </select>

    <select id="selectClientProductByBaseProductCodeAndClientCode" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List"/>
        from T_SDP_CLIENTPRODUCT b
        <if test="type==null or type=='' or type=='mem'">where b.BASEPRODUCTCODE= #{baseproductcode,jdbcType=VARCHAR} and b.CLIENTCODE=#{clientcode,jdbcType=VARCHAR}</if>
    </select>

    <select id="selectClientProductById" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List"/>
        from T_SDP_CLIENTPRODUCT b
        <if test="type==null or type=='' or type=='mem'">where b.ID = #{id,jdbcType=DECIMAL}</if>
    </select>
    <select id="selectClientProductsByCondition" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List"/>
        from T_SDP_CLIENTPRODUCT b
        <if test="type==null or type=='' or type=='mem'">
            <include refid="Base_query_condition"/>
        </if>
        <if test="sortid!=null">
            order by ${sortid}
        </if>

    </select>
   </mapper>